<div class="container content">
    <div class="jumbotron">
        <h1>angular 6</h1>
    </div>
    <div class="row">
        <div class="col-md-6">
            hola mundo
        </div>
        <div class="col-md-6">
            hola mundo
        </div>
    </div>
</div>

