<div class="container content">
    <div class="row">
        <div class="col-md-6 oofset-md-3">
            <span class="anchor" id="formlogin"></span>
            
            <!--form card login with validation feedback-->
            <div class="card card-outline-secondary">
                <div class="card-header">
                    <h3 class="mb-0">Wishlist</h3>
                </div>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <label for="nombre">Desde</label>
                            <input type="text" class="form-control" id="nombre" placeholder="Ingresa desde donde viajaras" #nombre>
                        </div>
                        <div class="form-group">
                            <label for="imagen">Hasta</label>
                            <input type="text" class="form-control" id="imagenUrl" placeholder="Ingresa hasta donde viajas" #url>
                        </div>
                        <button type="submit" class="btn btn-primary" (click)="guardar(nombre.value, url.value)">Guardar!</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <hr class="mb-5">

    <div class="row row-flex">
        <app-viaje-destino *ngFor="let d of destinos" [destino]="d"></app-viaje-destino>
    </div>
</div>




